@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-primary: #1313ec;
  --color-background-light: #f6f6f8;
  --color-background-dark: #101022;
  --color-surface-light: #ffffff;
  --color-surface-dark: #1a1a2e;
  --color-text-light: #111118;
  --color-text-dark: #e0e0e0;
  --color-text-secondary-light: #616189;
  --color-text-secondary-dark: #9ca3af;
  --color-border-light: #dbdbe6;
  --color-border-dark: #2e2e42;
  --font-display: "Inter", sans-serif;
}

@layer base {
  body {
    font-family: "Inter", sans-serif;
  }
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
.filled-icon {
  font-variation-settings: "FILL" 1;
}